@charset "UTF-8";
	.h2{
		font-size : 30px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.bbt{	
		background-color: black;
		color : white;
	}
	.bbt:hover{
		background-color: #E2E2E2;
		color : black;
	}
	td{
		text-align:left;
	}
	.bottom{
		text-align: center	
	}