@charset "UTF-8";

	h2{
		font-size : 30px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	#move{
		cursor:pointer;
	}
	
	.PHJbtn{
		text-align: center;
	}
	td{
		text-align : center;
	}
	.th2{
		text-align : center;
		width: 30%;
	}
	.th1{
		
		text-align : center;
	}
	.td2{
		
		text-align : center;
	}
	
	.num{
		width: 10%;
		text-align: center;
	}
	#footNav{
		border-bottom: none;
		width: 200px;
		margin : 0 auto;
	}
	.navheader{
		width: 100%;
		text-align: center;
	
	}
	#back{
		
		background-color: black;
		color : white;
	}
	#back:hover{
		background-color: #E2E2E2;
		color : black;
	}