@charset "UTF-8";
	
	.table>tbody>tr>th{
		height: 40px;
		line-height: 40px;
	}
	.table>thead>tr>th{
		height: 40px;
		line-height: 40px;
	}
	
	.table>tbody>tr>td{
		height: 40px;
		line-height: 40px;
		text-align: center;
	}
	h2{
		font-size : 30px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	#move{
		cursor:pointer;
	}
	
	.PHJbtn{
		text-align: center;
	}
	td{
		text-align : center;
		height: 40px;
	}
	.th2{
		text-align : center;
		width: 30%;
	}
	.th1{
		
		text-align : center;
	}
	.td2{
		
		text-align : center;
	}
	
	.num{
		width: 10%;
		text-align: center;
	}
	#footNav{
		border-bottom: none;
		width: 200px;
		float: left;
		margin : 0 auto;
	}
	.navheader{
		width: 100%;
		display: inline-block;
	}
	#back{
		background-color: black;
		color : white;
		float: right;
		margin-top: 25px;
	}
	#back:hover{
		background-color: #E2E2E2;
		color : black;
	}
	