.search_board_top_wrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  background-color: beige;
}

.search_board_top_wrapper div {
  height: 100%;
}

.search_board_top_wrapper div:first-of-type {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.search_board_top_wrapper div:first-of-type span {
  font-size: 13px;
  margin: 5px 0px;
}

.search_board_top_wrapper form {
  height: 25px;
  display: flex;
  align-items: center;
}

.search_board_top_wrapper div:first-of-type input {
  width: 100px;
  margin-right: 5px;
  border-radius: 3px;
}
