table tr:first-of-type {
  color: #535353;
  border-top: 1px solid #dbdbdb;
}

.result_no:not(th) {
  margin-left: 20px;
  width: 30px;
  display: flex;
  justify-content: center;
}

.result_subject,
.result {
  min-height: 45px;
}

tr {
  display: flex;
  align-items: center;
}

tr:not(:first-of-type) {
  border-top: 1px solid #f0f0f0;
  padding: 5px 0;
}

tr:last-of-type {
  border-bottom: 1px solid #dbdbdb;
}

td:not(.multi_cont) {
  display: flex;
  justify-content: center;
}

.chk_box {
  width: 30px;
}

.result_subject th:nth-child(2) {
  width: 170px;
  display: flex;
}

.result_subject th:nth-child(2) span {
  margin-left: 20px;
}

.title {
  width: 350px;
}

.artist,
.album_name {
  width: 200px;
}

.like_count {
  width: 138px;
}

td.like_count span {
  width: 100%;
  display: flex;
  justify-content: center;
}

td.like_count {
  display: flex;
}

th.like_count {
  padding-left: 71px;
}

.play_count {
  width: 110px;
  display: flex;
  justify-content: center;
}

.btn_container {
  width: 120px;
}

.likeBtn {
  width: 15px;
  margin-left: 30px;
}

i {
  font-size: 20px;
  cursor: pointer;
}

.btn_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.free_song {
  margin-right: 20px;
  font-size: 13px;
  color: #ff1c1c;
}

.btn_container i {
  margin-right: 10px;
}

.free_song {
  width: 25px;
}
