.search_board_content_wrapper {
  /* background-color: lavenderblush; */
}

table tr:first-of-type {
  color: #535353;
  border-top: 1px solid #dbdbdb;
}

.result_no:not(th) {
  margin-left: 20px;
  width: 30px;
  display: flex;
  justify-content: center;
}

.result_subject {
  height: 30px;
}

tr {
  display: flex;
  align-items: center;
}

tr:not(:first-of-type) {
  border-top: 1px solid #f0f0f0;
  padding: 5px 0;
}

tr:last-of-type {
  border-bottom: 1px solid #dbdbdb;
}

td:not(.btn_container) {
  display: flex;
  justify-content: center;
}

.chk_box {
  width: 30px;
}

.result_subject th:nth-child(2) {
  width: 170px;
  display: flex;
}

.result_subject th:nth-child(2) span {
  margin-left: 20px;
}

.title {
  width: 350px;
}

.artist,
.album_name {
  width: 200px;
}

.like_count {
  width: 100px;
}

.result_subject th:nth-child(7) {
  width: 148px;
  display: flex;
}

.result_subject th:nth-child(7) span,
.play_count {
  margin-left: 30px;
}

.play_count {
  width: 64px;
}

.report_container {
  margin-left: 20px;
}

.btn_container {
  width: 120px;
  background-color: red;
}
