@charset "UTF-8";

.jumbotron {
  text-align: center;

}
.jumbotron a {
  opacity: 0.8;
}
.continer {
  margin-left: 250px;
  margin-right: 250px;
}
.jumbotron img{
  
}

.page_nav_wrapper nav{
  display: flex;
  justify-content: center;
}