@charset "UTF-8";

.span1{
   font-size: 13px;
   color: gray;
}

.h2{
   font-size : 30px;
   margin-top: 30px;
   margin-bottom: 30px;
}

.PHJup {
   height: 460px;
   border: 2px solid #E2E2E2;
}

.PHJup>h3 {
   font-size: 20px;
   text-indent: 50px;
   margin-top: 50px;
   margin-bottom: 30px;
   font-weight: bold;
}

.t1 {
   width: 500px;
   margin: 0 auto;
}

.t1>tr>td{
   height: 50px;
}

td>span{
   padding-top: 35px;
   padding-bottom: 30px;
   font-size: 17px;
}

.move{
   cursor: pointer;
}

.div1 {
   width: 50%;
   margin: 0 auto;
   float: left;
}

label{
   padding-top: 30px;
   padding-bottom: 30px;
   font-size: 17px;
}

.verticalLine {
  border-left: thick solid #ff0000;
}