@charset "UTF-8";

table{
		margin : 0 auto;
		width : 690px;
		height: 400px;
		margin-top: 10px;
		border-top : 1px solid black;
	}
	h2{
		margin-top: 50px;
		margin-left : 250px;
	}
	th{
		background-color: #F7F7F7;
	}