@charset "UTF-8";

h2{
      font-size : 30px;
      margin-top: 30px;
      margin-bottom: 30px;
   }
   .move{
      cursor:pointer;
   }
   .PHJbtn{
      text-align: center;
   }
   td{
      text-align : center;
   }
   .th2{
      text-align : center;
   }
   .th1{
      text-indent : 30px;
      text-align : center;
   }
   .td3{
      
      text-align : right;
   }
   #back{
      
      background-color: black;
      color : white;
   }
   #back:hover{
      background-color: #E2E2E2;
      color : black;
   }