footer {
  margin-top: 100px;
  width: 100%;
  height: 200px;
}

.footer_wrapper {
  width: 1260px;
  margin: 0 auto;
}

.ul1 > li {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  list-style: none;
}
.ul1 > li > a {
  color: #757271;
  margin-left: 10px;
  text-decoration: none;
}
.footinfo {
  color: #999999;

  margin-left: 60px;
  font-size: 12px;
  width: 100%;
  margin-bottom: 20px;
}
.ul2 > li {
  list-style: none;
  float: left;
  margin-left: 10px;
}

.footer a {
  font-size: 12px;
}
