.insert_wrapper {
  margin: 0 auto;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 50px;
  border: 4px solid #f7f7f9;
  margin-top: 50px;
}

.insert_wrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: antiquewhite; */
}

.cont {
  display: flex;
  align-items: center;
  height: 95px;
}

.cont > span {
  margin-left: 30px;
  width: 120px;
  font-weight: bold;
  font-size: 18px;
  color: #696969;
}

.input_title input,
.insert_album input,
.insert_wrapper select,
.input_artist input {
  height: 35px;
}

.input_title input,
.insert_album input,
.select_album select {
  font-size: 20px;
  color: #696969;
}

.select_album select {
  width: 300px;
}

#title {
  width: 770px;
}

.insert_album {
  height: 100%;
  display: flex;
  align-items: center;
}

.cont fieldset {
  border: none;
  padding: 0;
  /* background-color: red; */
  width: 300px;
}

#input_album {
  width: 250px;
}

.select_album > button {
  margin-left: 3px;
}

.insert_album {
  margin-left: 107px;
}

.insert_album > button {
  margin-left: 3px;
}

.cont button {
  font-size: 15px;
}

.upload_albumImg input,
.upload_music input {
  margin-top: 5px;
}

.upload_albumImg {
  position: relative;
}

.img_container {
  position: absolute;
  left: 586px;
  top: 10px;
}

.img_container img {
  width: 333px;
  max-height: 333px;
}

.btn_wrapper {
  margin-left: 150px;
  margin-top: 110px;
}

.btn-secondary {
  margin-left: 100px;
}

#search_artist {
  margin-left: 5px;
}
