.insert_wrapper {
  margin: 0 auto;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 50px;
  border: 4px solid #f7f7f9;
  margin-top: 50px;
}

.insert_wrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: antiquewhite; */
}

.cont {
  display: flex;
  align-items: center;
  height: 65px;
}

.cont > span {
  margin-left: 30px;
  width: 120px;
  font-weight: bold;
  font-size: 18px;
  color: #696969;
}

.input_title input,
.insert_album input,
.insert_wrapper select {
  height: 35px;
}

.input_title input,
.insert_album input,
.select_album select {
  font-size: 20px;
  color: #696969;
}

.select_album select {
  width: 250px;
}

#title {
  width: 770px;
}

.insert_album {
  height: 100%;
  display: flex;
  align-items: center;
}

.cont fieldset {
  border: none;
  padding: 0;
  /* background-color: red; */
  width: 300px;
}

#input_album {
  width: 250px;
}

.select_album > button {
  margin-left: 3px;
}

.select_album > button:not(:first-of-type) {
  margin-left: 10px;
}

.insert_album {
  margin-left: 106px;
}

.insert_album > button {
  margin-left: 3px;
}

.cont button {
  font-size: 15px;
}

.upload_albumImg input,
.upload_music input {
  margin-top: 5px;
}

.img_container {
  margin-left: 105px;
}

.img_container img {
  width: 333px;
}

.btn_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.btn-secondary {
  margin-left: 100px;
}

.mid_wrapper {
  display: flex;
}

.mid_cont span {
  margin: 0;
}

.mid_cont {
  margin-left: 30px;
}

.album_desc {
  width: 385px;
  height: 390px;
  margin-left: 30px;
  overflow-y: scroll;
}

.desc {
  padding: 5px 0;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  position: relative;
}

.desc_btn {
  position: absolute;
  right: 6px;
}

.desc button {
  padding: 0 5px;
  height: 25px;
}

.desc button:last-of-type {
  margin-left: 5px;
}

.desc_name {
  margin-left: 20px;
}

.album_btn {
  margin-left: 5px;
}

.upload_albumImg.cont {
  margin-left: 370px;
}

.upload_albumImg.cont span {
  margin-left: 0;
}

.select_album span {
  width: 105px;
}
.img_container img {
  width: 390px;
  max-height: 390px;
}

.input_mod_album {
  width: 270px;
  height: 35px;
  font-size: 20px;
  color: #696969;
  margin-right: 7px;
}
