@import url("/src/css/search/search_board_top.css");
@import url("/src/css/search/search_board_content.css");
@import url("/src/css/search/page_nav.css");

.search_board_top_wrapper div:first-of-type {
  justify-content: flex-end;
  padding-bottom: 2px;
}

th.like_count {
  padding: 0;
}

.multi_cont button {
  padding: 0 5px;
}

.multi_cont button:last-of-type {
  margin-left: 5px;
}

th.chk_box,
th.title,
th.artist,
th.album_name,
th.like_count {
  display: flex;
  justify-content: center;
}

.search_board_top_wrapper div:last-of-type button {
  height: 25px;
  line-height: 20px;
}

.page_btn {
  width: 26px;
  height: 26px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
